// app global css in SCSS form

.text-accent-clear {
  color: $accent-clear !important;
}
.bg-accent-clear {
  background: $accent-clear !important;
}

.toolbar-title {
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 2px;
}

.filters {
  display: flex;
  justify-content: stretch;
}

.song-table tr:not(.expand) td:first-child,
.song-table tr:not(.expand) th:first-child {
  padding-right: 0px;
}

.song-table tr:not(.expand) td:last-child,
.song-table tr:not(.expand) th:last-child {
  padding-left: 0px;
}

td.table-cell {
  white-space: pre-wrap;
}

td.table-cell.small {
  font-size: 0.75em;
}

.song-name {
  font-weight: 500;
}

.composer {
  font-size: 0.5em;
  font-style: italic;
}

.lyrics {
  white-space: pre-wrap;
  padding: 12px 16px;
}

.lyrics .section {
  padding-top: 0.5em;
  padding-bottom: 1em;
  scroll-margin-top: 50px;
}

.info-page {
  white-space: pre-wrap;
  padding: 12px 16px;
}

.notice {
  position: fixed;
  left: 50vw;
  top: 50vh;
  transform: translate(-50%, -50%);
}

.details {
  display: grid;
  grid-template-columns: 2fr 1fr 60px 40px 60px 25px;
  justify-items: flex-start;
  align-items: flex-start;
}

.details .info-items {
  white-space: break-spaces;
  font-size: 0.6em;
  font-weight: 300;
  padding-right: 5px;
}

.label {
  font-size: 0.8em;
  font-weight: 500;
}

.song-info {
  max-width: 35vw;
}

.song-lights {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  justify-self: center;
  align-items: center;
  text-align: center;
  height: 4em;
}

.lights-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.details .song-buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  justify-self: end;
  height: 4em;
}
